body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url('assets/clouds.svg');
    background-color: #333;
    background-repeat: repeat;
    background-size: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #800080; /* Purple background */
    color: #89878bee;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

section {
    padding: 40px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

#skills ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#skills li {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #f8f3f8;
    border-radius: 5px;
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #131212;
    text-align: center;
    padding: 20px 0;
}